body {
    height: 567px;
    width: 767px;
    background-color: darkgray;
    font-family: "Lato", sans-serif;
    margin: 2px;
  }

  button {
    height: 30px;
    width: 100px;
    outline: none;
  }

.topnav {
  position: fixed;
  overflow: hidden;
  background-color: #24292E;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 56px;
  z-index: 100;
}

#gitLogo {
    width: 37px;
    height: auto;
    filter: invert(100%);
    margin: 1.3%;
}

#navText {
    position: fixed;
    margin-top: 2%;
    font-size: 20px;
    color: white;
    font-weight: 600!important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

#loginButton {
    float: right;
    margin: 13px;
    padding: 4px 8px 4px 8px;
}

#loginText {
    color: white;
    width: 80px;
    height: 30px;
    font-size: 16px;
    font-weight: 600!important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-decoration: none;
}

#searchInput {
  text-align: left;
  margin-left: 33px;
  border-radius: 2px;
  width: 188px;
  height: 27px;
  background: #3c3b3b;
  border: none;
}

#searchInput:focus {
  color: white;
  background: rgb(173, 172, 172);
}

::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none;
}

#issueContainer {
  height: 100px;
  border: black solid 1px;
  border-radius: 2px;
  /* padding: 7px; */
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

/* The sidepanel menu */
.sidepanel {
    height: 526px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 56px;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel #data {
    padding: 15px 8px 8px 20px;
    text-decoration: none;
    /* font-size: 25px; */
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  out:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    float: left;
    width: 35px;
  }

  #main {
    transition: margin-left .5s;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
  }

  #data {
    cursor: pointer;
  }
  
  /* .openbtn:hover {
    background-color: #444;
  } */